{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunie</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul class="nav__left">
                    <li><button>Определение</button></li>
                    <li><button>Цели и Задачи</button></li>
                    <li><button>Принципы и Ценности</button></li>
                </ul>
                <ul class="nav__right">
                    <li><button>Планы</button></li>
                    <li><button>Результаты</button></li>
                    <li><button>Контакты</button></li>
                </ul>
            </nav>
            <div class="header__content">

                <h1>Первое позитивное планетарное движение</h1>
                <div class="header__banner">
                    <img src="{% static 'img/header-banner.png' %}" alt="">
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="small-container">
            <h2>Цели и задачи первого позитивного планетарного движения для все, вся, всех и всего:</h2>
            <div class="goals__content">
                <div class="goals__item">
                    <img src="{% static 'img/goals-element.png' %}" alt="">
                    <div class="goals__text">Гармонизация здоровья и благополучия человечества</div>
                </div>


                <div class="goals__item">
                    <img src="{% static 'img/goals-element.png' %}" alt="">
                    <div class="goals__text">Гармонизация здоровья и благополучия человечества</div>
                </div>



                <div class="goals__item">
                    <img src="{% static 'img/goals-element.png' %}" alt="">
                    <div class="goals__text">Гармонизация здоровья и благополучия человечества</div>
                </div>


                <div class="goals__item">
                    <img src="{% static 'img/goals-element.png' %}" alt="">
                    <div class="goals__text">Гармонизация здоровья и благополучия человечества</div>
                </div>
            </div>

        </div>
    </main>

    <section class="rules">
        <div class="container">
            <h2>
                Ключевые принципы и ценности
            </h2>
            <div class="rules__content">
                <div class="rules__content-image">
                    <img src="{% static 'img/rules-banner.png' %}" alt="">
                </div>
                <div class="rules__content-text">
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Солидарность</h3>
                        <div class="rules__text-description">Мы верим в солидарность и взаимопомощь, в общую
                            ответственность перед будущим поколением и нашей планетой.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Солидарность</h3>
                        <div class="rules__text-description">Мы верим в солидарность и взаимопомощь, в общую
                            ответственность перед будущим поколением и нашей планетой.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Солидарность</h3>
                        <div class="rules__text-description">Мы верим в солидарность и взаимопомощь, в общую
                            ответственность перед будущим поколением и нашей планетой.</div>
                    </div>
                    <div class="rules__content-item">
                        <h3 class="rules__text-title">Солидарность</h3>
                        <div class="rules__text-description">Мы верим в солидарность и взаимопомощь, в общую
                            ответственность перед будущим поколением и нашей планетой.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="info">
        <div class="container">
            <div class="info__content">
                <div class="info__content-text">
                    <h2>Позитивное планетарное движение</h2>
                    <p>Позитивное планетарное движение идет рука об руку с каждым государством, всеми государственными
                        структурами в их локациях, в тч с ЦБ - каждой страны на планете. Всем благо желаем и несем , как
                        и добрые новости , например о выходе электронно-логистической платформы, в том числе в мобильном
                        приложением, скоро его скачаете в App Store.</p>
                    <p>Мы не лезем в политику, Наша цель - Мы хотим - эволюционировать! Объединить человечество путем
                        созидания и технологий. Видимо всех Тех, кто сам захочет: и светящихся, и радостно проснувшихся,
                        и например тех, кто хочет быть союзником и другом. При этом каждое государство ведает, что
                        происходит в его границах и каждому найдется чем заняться</p>
                </div>
            </div>
        </div>
        <div class="info__image">
            <img src="{% static 'img/info-banner.png' %}" alt="">
        </div>
    </section>


    <section class="problems">
        <div class="container">
            <h2>Вызовы и преграды для позитивного планетарного движения:</h2>

            <div class="problems__items">
                <div class="problems__item">
                    <h3 class="problems__item-title">Инерция и страх</h3>
                    <div class="problems__item-description">Многие люди опасаются изменений, боятся неизвестности и
                        ближайшего будущего, поэтому сложно преодолеть инерцию и начать позитивное планетарное движение
                    </div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Гражданское общество</h3>
                    <div class="problems__item-description">Гражданское общество может оказывать влияние на власть,
                        вносить изменения своими локальными и международными действиями и привлекать внимание к
                        позитивному планетарному движению.</div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Сложности в масштабировании</h3>
                    <div class="problems__item-description">Идеи и проекты позитивного планетарного движения часто
                        сталкиваются с проблемой масштабирования. Нужно много потрудиться, чтобы достичь значительного
                        разумного воздействия</div>
                </div>
            </div>

            <h2>Вызовы и преграды для позитивного планетарного движения:</h2>

            <div class="problems__items">
                <div class="problems__item">
                    <h3 class="problems__item-title">Инерция и страх</h3>
                    <div class="problems__item-description">Многие люди опасаются изменений, боятся неизвестности и
                        ближайшего будущего, поэтому сложно преодолеть инерцию и начать позитивное планетарное движение
                    </div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Гражданское общество</h3>
                    <div class="problems__item-description">Гражданское общество может оказывать влияние на власть,
                        вносить изменения своими локальными и международными действиями и привлекать внимание к
                        позитивному планетарному движению.</div>
                </div>
                <div class="problems__item">
                    <h3 class="problems__item-title">Сложности в масштабировании</h3>
                    <div class="problems__item-description">Идеи и проекты позитивного планетарного движения часто
                        сталкиваются с проблемой масштабирования. Нужно много потрудиться, чтобы достичь значительного
                        разумного воздействия</div>
                </div>
            </div>
        </div>
    </section>

    <section class="info second_info">
        <div class="container">
            <div class="info__content second_content">
                <div class="info__image second_image">
                    <img src="{% static 'img/info-banner.png' %}" alt="">
                </div>
                <div class="info__content-text second_content-text">
                    <p>Все доходы от работы платформы идут в строительство уникальных инновационных городов, где мир,
                        спокойствие , справедливость, любовь , труд по предназначению и оплата благами по труду, доступ
                        всем ко всем знаниям, те глубокое образование с малых лет без нагрузки, требований, искажений и
                        тп. Также доходы от работы платформы идут в создание в промышленных масштабах для всего
                        населения мира ноосферных, природоподобных, экологичных, прорывных и футуристических
                        производств, предметов, вещей бытового назначения, медицины и питания - вот абсолютно все иное,
                        работающее только во благо человека и его организма, а также организма растений и животного
                        мира. Что приведет к включению механизмов регенерации и самовосстановления, омоложения и баланса
                        как внутри, так и снаружи.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="look">
        <div class="container">
            <h2>Вот смотрите:</h2>
            <div class="look__content">
                <div class="look__content-text">
                    <p>На планете Земля живут более <span>8 миллиардов</span> людей.</p>
                    <p>Но только <span>3 миллиарда</span> из них знают о таких вещах, как интернет, гаджеты,
                        мессенджеры, социальные сети и личные кабинеты в финансовых платформах.</p>
                    <p>У них есть <span>возможность</span> купить телефон и компьютер.</p>
                    <p>Однако, 5 миллиардов людей живут на 2 доллара в
                        месяц и не знают ничего обо всем этом, плюс это еще либо очень маленькие, либо очень старенькие.
                        <span>Как им
                            быть?</span>
                    </p>
                    <p>Как им узнать об эволюции, технологиях, балансе, гармонии и разумности в позитивном планетарном
                        движении?</p>
                    <p><span>Ответ прост</span> - они могут войти в это движение и чувствовать себя защищенными, поможем
                        им.</p>
                    <p> Для этого нам придется позаботиться о том, чтобы хотя бы <span>2 миллиарда</span> человек из
                        всего населения
                        планеты потрудились над этой задачей</p>
                </div>


                <div class="look__content-subtitle">Мы даем решения для вся, все, всех и всего: например, мобильным
                    приложением к нашей платформе смогут воспользоваться все те, у кого все деньги всего этого мира,
                    наверное это всего около 500 миллионов человеки и конечно их юридические лица.</div>
            </div>
        </div>
    </section>

    <section class="info need">
        <div class="container">
            <div class="info__content">
                <div class="info__content-text">

                    <p> Обычные люди на планете- физические лица, имеющие чистые деньги и живущие от зарплаты до заплаты
                        или
                        на незначительные доходы и дивиденды, смогут использовать это приложение бесплатно и в своей
                        национальной валюте.</p>
                    <p> Они смогут использовать его для обычных бытовых вещей и покупок, как оплаты
                        транзакций за обучение, медицину, жкх и тд и тп, без учета курсов валют, бирж и конвертаций. Они
                        смогут использовать свою местную валюту, с которой они родились и живут сейчас!</p>
                    <p> Кажется фантастикой? Нет, это ближайшее будущее, которое вот-вот наступает. Мы только начали
                        двигаться
                        вперед и наше проявление скоро будет видно на планете!</p>
                    <p> Давайте не будем говорить о доверии и
                        справедливости, это отличные качества, но в делах надо трудиться сообща в одном направлении, без
                        лишних разговоров, а не только для себя, отнимая хоть что-то у других. И делом доказать свою
                        приверженность к этим смыслам, целям и задачам.</p>
                    <p>Позитивное планетарное движение отличается от всех
                        других движений в мире - оно действительно и первое, и позитивное, и планетарное, без какихлибо
                        вступительных взносов, выплат, оплат, обременений, деградаций и разрушений. Это общественное
                        движение, в политику мы не идем!</p>
                    <p class="need__content-subtitle"><span>Движение нужно человечеству!</span></p>
                </div>
            </div>
        </div>
        <div class="info__image">
            <img src="{% static 'img/need.png' %}" alt="">
        </div>
    </section>

    <section class="rules newcities">
        <div class="container">
            <h2 class="newcities__title">
                В городах переходных и инновационных
            </h2>
            <div class="rules__content newcities__content">
                <div class="rules__content-image">
                    <img src="{% static 'img/rules-banner.png' %}" alt="">
                </div>
                <div class="rules__content-text newcities__content-text">

                    <p> Мы дадим возможность разгрузить родителей так, что б у них было время побыть друг с другом, при
                        этом
                        любить, знать, видеть, воспитывать всех своих детей.</p>
                    <p>Конечно заботиться о взрослом поколении,
                        которые расцветут в этих городах. Подобные фантастические заявления конечно же могут быть
                        выполнены
                        лишь за счет прорывных природоподобных технологий при ноосферном мышлении с использованием всех
                        изобретений, разработок и технологий на планете во благо человечества и самой планеты Земля</p>
                    <p class="newcities__content-subtitle">Она наш общий дом!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="knowcansay">
        <div class="container">
            <div class="knowcansay__content">
                <h2>Я ЗНАЮ, МОГУ, СКАЖУ Если решил и готов, то сделаю для себя и для Человечества.</h2>
            </div>
        </div>
    </section>

    <section class="info onlyyou second_info">
        <div class="container">
            <div class="info__image second_image">
                <img src="{% static 'img/onlyyou.png' %}" alt="">
            </div>
            <div class="info__content onlyyou__content second_content">
                <div class="info__content-text onlyyou__content-text ">
                    Только ТЫ это МОЖЕШЬ, От ТЕБЯ это зависит Только ТВОИ решения и поступки во всем приведут как поется
                    в песне - к погоде в доме или ее отсутствию при твоем бездействии.
                </div>
            </div>
        </div>

    </section>

    <section class="press">
        <div class="container">
            <h2>Пресс служба</h2>

            <div class="press__text">
                <p>Люди принесут информацию людям при любом раскладе. Я готова от имени всей команды и группы наших
                    компаний по
                    всей планете предложить информацию о том, что у нас есть Решение по каждой ситуации на планете.</p>
                <p>- Как это понять? <br>
                    - Задавайте вопросы - ответы есть!</p>
                <p>А пока не ждите ответа, раз не задали вопрос, но хотя бы
                    двигайтесь по своему предназначению. На сегодня мы особо можем пригодиться юридическим лицам в любом
                    секторе
                    экономики, при этом обычные люди, то есть физические лица, узнав, поняв, попробовав - примут решение
                    сами.
                    Сарафанное радио не отменить.</p>
            </div>
        </div>
    </section>

    <section class="info second_info whoami">
        <div class="container">
            <div class="info__content second_content">
                <div class="info__image second_image">
                    <img src="{% static 'img/info-banner.png' %}" alt="">
                </div>
                <div class="info__content-text second_content-text">
                    <p>Творим благо всем. У меня нет прав оценивать кто прав, кто виноват, кто зло, кто добро. Нет
                        ни зла, ни добра, ни плохого, ни хорошего, есть все мы, сознание всех. Это и есть Живая Дорожная
                        Карта. Я действую по своему предназначению. Донесу инфо до каждого из вас и примет решение для
                        себя каждый человек.<br> <br>Нельзя отнять у цветка его рост. Нельзя отнять у информации ее
                        движения.
                        Она выйдет из любого положения. <br><br>Я не политик. Я - за - все, вся, всех и всего!!! <br>
                        Руководитель
                        Пресс службы группы компаний МБК Дуние, МПК Универсум и ООО Адам Адал Жол
                        инвестиционно-коммерческое с благотворительным уклоном, Левшина Светлана Николаевна</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer__form">
                <div class="form__text">Подписаться на <span>рассылку</span></div>
                <div class="form__form">
                    <form action="">
                        <input type="text" placeholder="Введите вашу почту">
                        <button type="submit">Подписаться</button>
                    </form>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="footer__left">
                    <ul>
                        <li>Колл-центр: +7 909 888 82 09</li>
                    </ul>
                </div>
                <div class="footer__right">
                    <ul>
                        <li><a href="#"><img src="{% static 'img/contact_icons/facebook-black.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'img/contact_icons/twitter-black.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'img/contact_icons/vimeo-black.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'img/contact_icons/youtube-black.png' %}" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__copyright">2023 ДУНИЕ. Все права защищены</div>
                <div class="footer__policy">
                    <ul>
                        <li><a href="#">Правила пользования</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>